@font-face {
  font-family: DrukWideMedium;
  src: url(./fonts/DrukWideMedium.otf);
}

.graphiql-container * {
  box-sizing: border-box;

  --sidebar-width: 60px;
}

.graphiql-container .graphiql-sidebar button {
  width: 44px !important;
}
