p::selection {
  background: theme('colors.brand500');
  color: #ffffff;
}

a,
a.text-primary-500 {
  color: theme('colors.brand500');
}

.graphiql-container * {
  box-sizing: border-box;

  --sidebar-width: 60px;
}

.graphiql-container .graphiql-sidebar button {
  width: 44px !important;
}
